<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
    {{range .}}
        <li>{{uc .Name}}: "{{.Motto}}"</li>
    {{end}}
</ul>
<ul>
    {{range .}}
        <li>{{ft .Name}}</li>
    {{end}}
</ul>
</body>
</html>